html, body {
    padding:0px;
    margin:0px;
    color:white;
    font-family:arial;
    font-size:10px;
}
.container {
    width:100%;
    height: 850px;
    margin:0 auto;
}

#mapdiv {
    width: 80%; 
    background-color:#EEEEEE; 
    height: 100%;
    position: absolute;
}
#getLocation {
    position: absolute;
    bottom:50px; 
    left:67px; 
    background: #EEEEEE;
} 

.panel {
    top: 0px;
    background:#EEEEEE;
    width:20%;
    height:100%;
    left: 80%;
    position: relative;
}

 .tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
  }

  body {
    min-width: 520px;
  }

  .column {
    width: 100%;
    float: right;
    padding-bottom: 100px;
    padding-top: 20px;
  }
  .portlet {
    margin: 0 0 1em 0;
    padding: 0.3em;
    color: black;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
